* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: sans-serif;
    margin: auto;
    padding: 2em;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    font-size: 10pt;
    font-weight: lighter;
}

.left-column {
    flex: 1 1 400px;
    padding: 5px;
    line-height: 1.5em;
}

.right-column {
    border-left: black solid 1px;
    flex: 1 1 1000px;
    padding: 5px;
    line-height: 1.2em;
}

.init, h1, h2 {
    text-align: center;
    font-weight: lighter;
}

h1, h2, h3 {
    width: 100%;
    margin-bottom: 0.25em;
}

.init, h2 {
    border-bottom: black solid 1px;
    margin: 1rem 0;
    padding-bottom: 1rem;
}

.init {
    font-family: sans-serif;
    font-size: 4em;
    margin-bottom: 2rem;
    padding: 2rem;
}

h1 {
    margin-bottom: 0.75em;
}

.job-title {
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}

p {
    /*position: relative;*/
    width: 100%;
    font-family: serif;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.date-range {
    font-family: sans-serif;
    font-style: italic;
}

.timeline-capital, .timeline-working {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.timeline-capital::after, .timeline-working::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: goldenrod;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container {
    padding: 10px 25px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -12px;
    background-color: goldenrod;
    border: 4px solid #8F7F56;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    right: 15px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent goldenrod;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    left: 15px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent goldenrod transparent transparent;
}

.right::after {
    left: -12px;
}

.content {
    padding: 10px 10px;
    background-color: goldenrod;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {

    .timeline-capital::after, .timeline-working::after {
        left: 26px;
    }

    .container {
        width: 100%;
        padding-left: 50px;
        padding-right: 25px;
    }

    .container::before {
        left: 40px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent goldenrod transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media (min-resolution: 200dpi){
    body {
        font-size: 22pt;
    }
}
